@model dynamic

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Yetkiniz Yoktur</h2>
<p>Bu sayfaya girmek için yetkiniz bulunmamaktadır. Eğer bir yanlışlık olduğunu düşünüyorsanız sistem yöneticisiyle görüşünüz.</p>
