@model dynamic

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<section class="content">

      <!-- Default box -->
      <div class="card">
        
            <div class="">
              <h2>Company<strong>Panel</strong></h2>
              <p class="lead mb-5">Bu proje Mert Özler tarafından geliştirilmiştir.<br>
                <a href="https://github.com/mertozler" class="link-primary">Github</a>
                <a href="https://www.linkedin.com/in/meozler/" class="link-primary">LinkedIn</a>
              </p>
            </div>
          </div>

      

    </section>

